canvas {
    background-color: black;
}

.d-none{
    display:none !important;
}

.fullscreen-icon{
    height:50px;
    width:50px;
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}

.container{
    position: relative;
}

.start-screen{
    width:720px;
    height:480px;
    background-color: white;
    background: url('img/5_background/second_half_background.png');
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.start-screen img{
    height:500px;
    width:250px;
    margin-top: -60px;
    position: absolute;
    left:0;
}

.start-btn{
    padding: 16px;
    background-color: orange;
    border-radius: 20px;
    cursor: pointer;
    color:white;
    font-size:24px;
    border-style: none;
    transition: all 225ms ease-in-out;

    &:hover{
        color:black;
        transform: scale(1.03);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 0, 0.3)),
        url('./img/wüste.png');
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 3px rgba(255, 255, 255, 0.5);
    text-align: center;
}

@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf');
}

canvas{
    display:block;
}

@media only screen and (max-width:720px){
    canvas{
        width:100%
    }
}

@media only screen and (max-height:480px){
    canvas{
        height:100vh;
    }

    h1{
        display:none;
    }

    body{
        padding-top: 0;
    }
}