canvas {
    background-color: black;
}

.d-none {
    display: none !important;
}

.mt-24 {
    margin-top: -24px;
}

.keyboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding: 0 16px 0 16px;
    gap: 8px;
}

.mute-img,
.play-btn-container img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: orange;
    padding: 8px;
    border-radius: 30px;
}

.panel-top {
    display: flex;
    justify-content: right;
    margin: 12px 120px 0 0;
}

.panel-bottom {
    padding: 0 70px 16px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-btn-container {
    display: flex;
    gap: 16px;
}

.play-btn-container span {
    background-color: orange;
    padding: 8px;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.panel-container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    width: 720px;
}

.imprint-container{
    display:flex;
    justify-content: center;
}

.imprint-container a{
    cursor: pointer;
    text-decoration: none;
    color:white;
    font-size: 32px;
    transition: all 225ms ease-in-out;
}

.imprint-container a:hover {
    transform: scale(1.07);
    color:black;
}

.to_middle {
    transform: translateY(0);
    transition: transform 1s ease-in-out;
    pointer-events: none;
}

.special-keys {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 32px;
}

.arrow-img {
    height: 40px;
    width: 40px;
}

.back-to-game{
    position: absolute;
    right:50px;
    top:60px;
    font-size:32px;
    text-decoration: none;
    color:white;
    transition: all 225ms ease-in-out;

    &:hover{
        transform: scale(1.07);
        color:black;
    }
}

.arrow {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-size: 32px;
}

.arrow-container {
    display: flex;
    gap: 8px;

}

.mute-img-startscreen {
    right: 80px !important;
    height: 30px !important;
    width: 30px !important;
}

.muted {
    content: "";
    position: absolute;
    background-color: red;
    transform: rotate(45deg);
    transform-origin: center;
}

.fullscreen-icon,
.mute-img-startscreen {
    z-index: 998;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        transform: scale(1.07);
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.game-over-btn,
.game-win-btn {
    position: absolute;
}

.start-screen {
    height: 480px;
    width: 720px;
    text-align: center;
}

.device-phone{
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index:1000;
    width:100%;
    background-color: black;
    margin-top:-100px;
    font-size: 64px;
    display:none;
}

.device-phone span{
    margin: 0 5% 0 5%;
}

#game-over-screen,
#game-win-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.start-screen {
    background: url('img/9_intro_outro_screens/start/startscreen_2.png') 55% 0 / cover no-repeat;
    background-size: 100%;
}

#game-over-screen {
    background: 
    url('img/9_intro_outro_screens/game_over/game over!.png') 55% 0 / cover no-repeat,
    url('img/2_character_pepe/5_dead/D-55.png') left center / contain no-repeat;

    background-color: lightblue;

}

#game-win-screen {
    background: 
    url('img/9_intro_outro_screens/win/win_1.png') 55% 40% / cover no-repeat,
    url('img/2_character_pepe/3_jump/J-34.png') left center / contain no-repeat;
    background-color: lightblue;
    background-size: 40%;
}

.next-level-btn {
    background-color: rgba(255, 55, 22) !important;
}


.btn {
    margin: 20px 8px 0 8px;
    padding: 16px;
    background-color: orange;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    border-style: none;
    transition: all 225ms ease-in-out;
    position: relative;
    z-index: 999;

    &:hover {
        color: black;
        transform: scale(1.03);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

.imprint{
    padding: 0 10% 130px 10%;
    margin-top: -100px;
    font-size:20px;
    overflow-y: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 0, 0.3)),
        url('./img/wüste.png');
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;

}

#start-game-btn{
    max-width:250px; 
}

h1 {
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 3px rgba(255, 255, 255, 0.5);
    text-align: center;
}

#mobile-btn-jump{
    display:flex;
    align-items: center;
    padding: 0 16px !important;
    font-size: 24px;
    font-weight: 500;
}

.keyboard{
    right:unset;
    left:10px;
}

@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf');
}

canvas {
    display: block;
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%
    }

    .panel-container {
        width: 100%;
        height: 370px;
    }


    .start-screen {
        width: 100%;
        height: 290px;
    }

    .btn {
        padding: 16px;
        font-size: 20px;
        margin-top: 8px;
    }
}

@media only screen and (max-width:510px) {

    .start-screen{
        width: 300px;
        height: 180px;
    }

    .imprint-container a{
        font-size: 20px;
    }

    .btn {
        padding: 8px;
        font-size: 16px;
        margin-top: 8px;
    }

    .fullscreen-icon,
    .mute-img-startscreen {
        height: 24px;
        width: 24px;
    }

    .mute-img-startscreen{
        height:16px !important;
        width: 16px !important;
        right:40px !important;
        top:8px !important;
    }

    .special-keys,
    .arrow {
        font-size: 18px;
    }

    #start-game-btn{
        max-width:180px; 
    }
    
}

@media only screen and (max-height:480px) {

    canvas,
    .start-screen,
    #game-over-screen,
    #game-win-screen {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    body {
        padding-top: 0;
    }
}

@media only screen and (max-height:650px) {
    .panel-container {
        display: flex;
    }

    .mute-img-startscreen{
        display:none ;
    }

}

/* @media only screen and (max-width:666px) {
    .device-phone{
        display:flex !important;
    }
} */


@media only screen and (max-height: 360px) {
    .panel-container{
        width:580px;
    }

}